.Education{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100vw;
    color: white;
    text-shadow: 2px 2px 2px slateblue;
    -webkit-text-stroke: 1px black;
    font-size: 2em ;
    z-index: 1;
    margin: 0px;
    background-image: url('https://wallpaperset.com/w/full/5/4/f/225692.jpg');
    background-size: cover;
    font-family:Arial;
    height: 110vh;
    padding-top: 70px;
}