.Contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0px;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
    -webkit-text-stroke: 1px black;
    font-size: 2em ;
    z-index: 1;
    margin: auto;
    font-size: larger;
    font-family:Arial;
    padding-top: 100px;
    background-image: url('https://64.media.tumblr.com/0870408ef69639327475f93f665ac490/92c7bc6db974c4d5-ab/s1280x1920/867979c9a1d803b0d13ff8cdc7393fcf33c84511.gifv');
}

a {
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
    -webkit-text-stroke: 1px black;
    
}

a :hover{
    color: red;
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    color: red;
    height: 80px;
    width: 80px;
 }

 .gitubLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;

 }

 .gitubLogo :hover{
   color: white;
   border-radius: 50px;
   position: relative; 
   top: -1px;   
}